/* App.css */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}

.card-img {
  object-fit:contain;
  /* /* height: 200px; */
  /* width: 100%;
  margin-bottom: 10px; */
} 
.card-title {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-rating {
  font-size: 14px;
  margin-bottom: 10px;
}

.card-price {
  font-weight: bold;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .card {
    width: 250px;
  }
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
}

.search-button {
  margin-left: 10px;
  background: #c0392b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.search-button .MuiButton-label .MuiSvgIcon-root {
  font-size: 1.5rem;
}
 .vini{

  background: #c0392b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   text-align: center;   

 }
